.container{
    margin-bottom: 40px;
}

.Name{
    border-radius: 1px;
    color: white;
    border: 1px solid tomato;
    background-color: lightblue;
    transform: rotate(30deg);
    transition: transform 1s ease-in-out 1s;
}
.bg-color{
    background-color: #feeae9;
    border-radius: 10px;
}
.carousel-item{
    padding: 10px 20px;
}
.price{
    color: #FF136F;
}
.buy{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    height: 50px;
}
a{
    left: 500px;
}
.cat1{
    background-color: tomato;
}
.cat2{
    background-color: purple;
}
.cat3{
    background-color: magenta;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}

.catagories h1{
    font-size: 30px;
    color: white;
    
}
.catagories img{
    width: 100px;
}
.shoe{
    color: #FF136F;
}

.card{
    border: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgray;
}
.card1{
    border: none;
    background-color: white;
}

.bg-light{
    background-color: green;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
    color:gray;
}